*.log
*.txt
*.out
source/obj/*
source/obj/Analysis.o
ShaPMoD
source/obj/Analysis.o
source/obj/aux_func.o
source/obj/Block_MD.o
source/obj/cells.o
source/obj/common.o
source/obj/ConstTensor.o
source/obj/FirstStep.o
source/obj/Forces.o
source/obj/InitConf.o
source/obj/lattice.o
source/obj/main.o
source/obj/output.o
source/obj/SHAKE.o
source/obj/ShellRelaxation.o
